.input{
    color: rgb(100, 100, 100);
    border: solid 2px rgba(3, 3, 145, 0.651);
    background: transparent;
    outline: none;
}
.button{
    color: rgb(3, 3, 145);
    border: solid 2px rgba(3, 3, 145, 0.651);
    background: transparent;
}